@charset "utf-8";
/* CSS Document */
#gridpanel{
	width:480px;
	height:480px;
	margin:0 auto;
	background-color:#bbada0;
	border-radius:10px;
	position:relative;
	}
.grid,.cell{
	width:100px;
	height:100px;
	border-radius:6px;
	}
.grid{
	background-color:#ccc0b3;
	float:left;
	margin:16px 0 0 16px;
	}
.cell{
	position:absolute;
	
	line-height:100px;
	text-align:center;
	color:#fff;
	font-size:60px;
	}
#c00,#c01,#c02,#c03{top:16px;}
#c10,#c11,#c12,#c13{top:132px;}
#c20,#c21,#c22,#c23{top:248px;}
#c30,#c31,#c32,#c33{top:364px;}

#c00,#c10,#c20,#c30{left:16px;}
#c01,#c11,#c21,#c31{left:132px;}
#c02,#c12,#c22,#c32{left:248px;}
#c03,#c13,#c23,#c33{left:364px;}

.n2{background-color:#FFF}
.n4{background-color:#EAFFF4}
.n8{background-color:#DFFFEF}
.n16{background-color:#C1FFE0}
.n32{background-color:#95FFCA}
.n64{background-color:#6AFFB5}
.n128{background-color:#40FF9F}
.n256{background-color:#15FF8A}
.n512{background-color:#00EA75}
.n1042{background-color:#00BF60}
.n2048{background-color:#00954A}
.n4096{background-color:#006A35}
.n8192{background-color:#006A35}

.n2,.n4{color:#776e65}
.n1042,.n2048,.n4096,.n8192{font-size:40px;}